# ENV
.env

# Python
__pycache__/
*.pyc

# Mac
.DS_Store

# Videos / uploads
videos/
uploads/
Captures/
frames_temp/

# Images / reports
*.jpg
*.jpeg
*.png
*.pdf
*.mp4

# Streamlit
.streamlit/

# Frontend
.vite/
node_modules/

# Logs
*.log
